html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* table {border-collapse: collapse;border-spacing: 0;} table, thead, tr, th, td  was also on the very first line */


/*---------- BODY --------------------------------*/

body {
  text-align: center;
  background: #00539f;
  /* #e0e0e0;*/
  padding-bottom: 200px;


}

a {
  text-decoration: none;
}

/*---------- Wrapper --------------------*/

/* SECOND NAV2 MENU */

nav {
  width: 100%;
  height: 80px;
  background: #222000;
}

ul a {
  text-align: center;
}

ul a li {
  font: 18px Verdana, 'Lucida Grande';
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: padding .05s linear;
  -moz-transition: padding .05s linear;
  -ms-transition: padding .05s linear;
  -o-transition: padding .05s linear;
  transition: padding .05s linear;
}

ul a li.drop {
  position: relative;
}

ul > a {
  display: inline-block;
}

#services_v_nav ul > li {
  display: block;
}

ul a li {
  line-height: 80px;
  padding: 0 20px;
  height: 80px;
  color: #777;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

ul a li.active {
  line-height: 80px;
  padding: 0px;
  height: 80px;

  color: #FF9933;

}

ul a li {
  color: #eee;
}

.dropOut .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  top: -8px;
  left: 50%;
  margin-left: -8px;
}

.drop .dropdownContain .dropOut .triangle a {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  top: -8px;
  left: 50%;
  margin-left: -8px;
}

.dropdownContain {
  width: 160px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -80px;
  /* half of width */
  top: -400px;
}

.dropOut {
  width: 160px;
  background: white;
  float: left;
  position: relative;
  margin-top: 0px;
  opacity: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.dropOut ul {
  float: left;
  padding: 10px 0;
}

.dropOut ul a li {
  text-align: left;
  float: left;
  width: 125px;
  padding: 12px 0 10px 15px;
  margin: 0px 10px;
  color: #777;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background .1s ease-out;
  -moz-transition: background .1s ease-out;
  -ms-transition: background .1s ease-out;
  -o-transition: background .1s ease-out;
  transition: background .1s ease-out;
}

.dropOut ul a li:hover {
  background: #f6f6f6;
}

ul a li:hover {
  color: red;
}

ul a li:hover .dropdownContain {
  top: 65px;
}

ul a li:hover .underline {
  border-bottom-color: #777;
}

ul a li:hover .dropOut {
  opacity: 1;
  margin-top: 8px;
}