{% extends "base.html" %}
{% block head %}

    <title> {% block title %}Application{% endblock %} </title>
    <!-- forums -->
    <section id="job-credentials" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="home-info">
                        Here u will see all the current openings:<br> 
                        <table id="job_table" style="size: 22px">
                            <thead>
                                <tr>
                                    <th>Position &nbsp;</th>
                                    <th>When job was Posted &nbsp;</th>
                                    <th>When job Expires  &nbsp;</th>
                                    <th>Company Name  &nbsp;</th>
                                    <th>View Applications &nbsp;</th>
                                    <th>Delete Job &nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
                                {% for row in data %} 
                                    <form name="apply" action="/view_applications" method="POST">                                    
                                        <tr>
                                            <td>{{row.position}}</td>
                                            <td>{{ row.begin_time.date() }}</td>
                                            <td>{{ row.end_time.date() }}</td>  
                                            <td>{{ row.company }}</td>  
                                            <td><input type="submit" value="View Applications" name='view'/>
                                                <input type="text" value="{{row.jobid}}" style='visibility:hidden;width:0px;height:0px;' name="jobid"/>
                                            </td>
                                            <td>
                                                <input type="submit" value="Delete" name="delete"/> 
                                                <input type="text" value="{{row.position}}" style='visibility:hidden;width:0px;height:0px;' name="position"/>
                                            </td> 
                                        </tr>
                                    </form>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}