{% extends "base.html" %}
{% block head %}

    <title> {% block title %}Job Application{% endblock %} </title>

    <!-- forums -->
    <section id="job-credentials" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="home-info">
                        Applications Filed for Job Post: {{post}}<br> 
                        <form>
                            <table style="size: 22px" id="job_table">
                                <thead>
                                    <tr>
                                        <th>Candidate Name &nbsp;</th>
                                        <th>Email &nbsp;</th>
                                        <th>Phone Number &nbsp;</th>
                                        <th>Address &nbsp;</th>
                                        <th>Resume &nbsp;</th>
                                    </tr>
                                </thead>    
                                <tbody>
                                    {% for applicant, user in data %}    
                                        <tr>
                                            <td>{{user.fname + " " + user.lname}}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.phone_number }}</td>
                                            <td>{{ applicant.address }}</td>  
                                            <td><a href="/resume/{{applicant.postid}}" >Download Resume</a></td>                   
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>                    
               </div>
            </div>
        </div>
    </section>

{% endblock %}