{% extends "base.html" %}
{% block head %}

    <title> {% block title %}View Jobs{% endblock %} </title>

    <!-- forums -->
    <section id="job-credentials" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="home-info">
                        Here u will see all the jobs for {{ session['role'] }} :<br> 
                        <table style="size: 22px" id="job_table">
                            <thead>
                                <tr>
                                    <th>Position &nbsp;</th>
                                    <th>When job was Posted &nbsp;</th>
                                    <th>When job Expires  &nbsp;</th>
                                    <th>Company &nbsp;</th>
                                    <th>Apply  &nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
                                {% for row in data %}   
                                    <form name="jobs" action="/jobs" method="POST">
                                        {% if row[2] > session['now']: %}
                                            <tr>
                                                <td>{{row[0]}}</td>
                                                <td>{{ row[1].date() }} </td>
                                                <td>{{ row[2].date() }} </td>  
                                                <td>{{ row[3] }} </td>
                                                <td><input type="submit" value="Apply Here"/>
                                                    <input type="text" value="{{ row[4] }}" style='visibility:hidden;width: 20px;' name="jobID"/> 
                                                </td>                          
                                            </tr>
                                        {% endif %}
                                    </form>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}