<!DOCTYPE html>
<html lang="en">
<head>
     <title>Forum</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/owl.carousel.css">
     <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">
     <link rel="stylesheet" href="static/css/style2.css">    
</head>
<body>

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

             <span class="spinner-rotate"></span>
             
        </div>
   </section>

    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

             <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                  </button>

                  <!-- lOGO TEXT HERE -->
                  <a class="navbar-brand">Collaborative Information Center</a>
             </div>

             <!-- MENU LINKS -->
             <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                       <li><a href="/#home" class="smoothScroll">Home</a></li>
                       <li><a href="/#feature" class="smoothScroll">Features</a></li>
                       <li><a href="/#about" class="smoothScroll">Testimonies</a></li>
                       <li><a href="/login" class="smoothScroll">Login/Register</a></li>
                       <li><a href="/#contact" class="smoothScroll">Contact</a></li>
                  </ul>
             
             </div>

        </div>
    </section>

    <!-- reset password -->
   <section id="resetpassword" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
         <div class="row">

              <div class="col-md-offset-3 col-md-6 col-sm-12">
                   <div class="home-info">
                    <form action="" method="get" class="online-form">
                        <input type="username" name="username" class="form-control" placeholder="Enter your existing password" required="">
                        <input type="password" name="password" class="form-control" placeholder="Enter your desired Password" required="">
                        <input type="password" name="password" class="form-control" placeholder="Confirm your desired Password" required="">
                        <button type="submit" class="form-control">Submit</button>
                        <h3>go back to login<li><a href="login.html">Login|Register</a></li></h3>

                    </form>
        
                   </div>
              </div>

         </div>
    </div>
</section>

<!-- FOOTER -->
<footer id="footer" data-stellar-background-ratio="0.5">
     <div class="container">
          <div class="row">
                    <div class="col-md-6 col-sm-6">
                         <ul class="social-icon">
                              <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                              <li><a href="#" class="fa fa-twitter"></a></li>
                              <li><a href="#" class="fa fa-instagram"></a></li>
                         </ul>
                    </div>
               </div>
 
          </div>
     </div>
 </footer>


<!-- SCRIPTS -->
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.stellar.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/smoothscroll.js"></script>
<script src="static/js/custom.js"></script>

</body>

</html>