{% extends "base.html" %}
{% block head %}

     <title> {% block title %}Search{% endblock %} </title>

     <!-- forum -->
     <section id="ob-credentials" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">
                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <div class="home-info">                            
                              <table id="job_table">
                                   <thead>
                                        <tr>
                                             <th>Username &nbsp;</th>                                        
                                             <th>First Name &nbsp;</th>                                        
                                             <th>Last Name &nbsp;</th>  
                                             <th>Phone Number &nbsp;</th>                                                                   
                                             <th>Email &nbsp;</th>                                        
                                        </tr>
                                   </thead>                                
                                   {% for user in users %}
                                        <tr>
                                        <td>{{user.username}}</td>
                                        <td>{{user.fname}}</td>                                            
                                        <td>{{user.lname}}</td>                                            
                                        <td>{{user.phone_number}}</td>                                            
                                        <td>{{user.email}}</td>                                            
                                        </tr>
                                   {% endfor %}
                              </table>
                         </div>
                    </div>
               </div>
          </div>
     </section>

{% endblock %}